@use "../../assets/sass/variables" as *;

.beer-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-primary;
  height: 20vh;
  border-radius: 20px;

  &__image {
    height: 100px;
  }
}