@use "../../assets/sass/variables" as *;

.beer-tile {
  display: flex;
  align-items: center;
  background-color: $color-primary;
  height: 60vh;
  // border: 1px solid $color-secondary;
  border-radius: 20px;
  color: $color-white;
  width: 100%;
  padding: 5px;
  position: relative;

  

  &__left {
    height: 95%;
    padding: 0 5px 0 0;
    width: 40%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
     
    &--image {
      max-width: 100%;
      max-height: 100%;
    }
  }

  &__right {
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 55%;
    position: relative;

    &--heading {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      text-align: start;
    }


    &--name {
      color: $color-secondary;
    }

    &--info {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }    
  }

}





