@use "../../assets/sass/variables" as *;
@use "../../assets/sass/mixins" as *;

.body {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  
  
}

@media screen and (min-width: $breakpoint-desktop){
  
  .body {

    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  
}