@use "../../assets/sass/variables" as *;
@use "../../assets/sass/mixins" as *;


.beers {
  // height: 90vh;
  width: 95%;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr;
  background-color: $color-dark;
  border: none;
  border-radius: 20px;
  margin: 0 10px 10px 10px;
  padding: 10px;

  &__cell {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: $breakpoint-desktop){
  
  .beers {
    grid-template-columns: 1fr 1fr;
    
  }

  
}