@use "../../assets/sass/variables" as *;
@use "../../assets/sass/mixins" as *;

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  position: absolute;
  
}

@media screen and (min-width: $breakpoint-desktop){
  
  .main {

    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  
}