@use "../../assets/sass/variables" as *;

.beer-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-dark;
  height: 100vh;
  color: $color-white;
  width: 100%;
  padding: 5px;
  

  &__top {
    height: 40%;
    padding: 0 5px 0 0;
    width: 75%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
     
    &--heading {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      text-align: start;
      
      
    }
  
    &--name {
      color: $color-secondary;
    }
    
    &--image {
      max-width: 100%;
      max-height: 100%;
    }
  }

  &__lower {
    height: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 75%;
    


  }

  
}