@use "../../assets/sass/variables" as *;

.search {
  color: $color-darker;
  padding: 10px 100px 10px 5px;
  border: 2px solid $color-secondary;
  border-radius: 20px;
  font-family: $font-primary;
  background-color: $color-white;
}