@use "../../assets/sass/variables" as *;

.header {
  font-family: $font-primary;
  background-color: $color-darker;
  color: $color-white;
  height: 15vh;
  width: 95%;
  border: none;
  display: flex;
  align-items: center;
  padding: 0 10px;

  &__logo {
    max-height: 90%;
  }
}