@use "./assets/sass/variables" as *;
@use "./assets/sass/mixins" as *;

.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: $color-darker;
  align-items: center;
  min-height: 100vh;
  
  
}


