@use "../../assets/sass/variables" as *;
@use "../../assets/sass/mixins" as *;

.nav {
  height: 30vh;
  width: 95%;
  display: flex;
  // flex-direction: column;
  background-color: $color-dark;
  border: none;
  border-radius: 20px;
  margin: 0 10px 10px 10px;

}

@media screen and (min-width: $breakpoint-desktop) {
  
  .nav {
    height: 70vh;
    width: 25%;
    flex-direction: column;
    
  }
}