@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$font-primary: 'Inter', sans-serif;

$color-dark: #082032;
$color-darker: #050b0f;
$color-white: #dbd8d8;
$color-primary: #334756;
$color-secondary: #FF4C29;

$breakpoint-tablet: 768px;

$breakpoint-desktop: 1200px;
